:root {
  /* Primary */

  --Purple_500: hsl(259, 100%, 65%);
  --Red_400: hsl(0, 100%, 67%);

  /*Colores Neutrales*/

  --White: hsl(0, 100%, 100%);
  --Grey_100: hsl(0, 0%, 94%);
  --Grey_200: hsl(0, 0%, 86%);
  --Grey_500: hsl(0, 1%, 44%);
  --lack: hsl(0, 0%, 0%);

  /* FUentes */

  --FuentePrincipal: "Poppins", sans-serif;
}
html {
  box-sizing: border-box;
  font-size: 62.5%;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
Body {
  background-color: azure;
  font-family: var(--FuentePrincipal);
}
.contenedor {
  background-color: var(--White);
  margin: 1rem auto;
  width: 55rem;
  height: 50rem;
  border-radius: 20px;
  border-bottom-right-radius: 10rem;
  box-shadow: 0px 0px 5px 2px rgb(146, 12, 146);  
}
.nacimiento{
  text-transform: uppercase;
 letter-spacing: 4.5px;
  text-align: center;
  padding: .5rem;
  background-color: rgb(169, 107, 228);
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  background: linear-gradient(to right, #ff7e5f, #960dcc); /* Degradado */
  -webkit-background-clip: text; /* Crucial para el efecto */
  color: transparent; /* Hacemos el color de texto transparente */
  background-clip:0 ;
}
.input_user {
  margin-top: -1rem;
  display: flex;
  padding: 1rem;
  width: 80%;
  gap: 20px;
}
.campo label {
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 11px;
  color: var(--Grey_500);
  margin-left: 4px;
}
.campo input {
  width: 16rem;
  height: 4rem;
  font-weight: bold;
  border-radius: 10px;
  border-color: var(--Purple_500);
  margin-bottom: 5px;
}
input:hover {
  border-color: rgb(0, 0, 0);
}
input:focus {
  border-top-left-radius: 10px;
  border-bottom-right-radius:  10px;
  border-top-right-radius:  10px;
}
br {
  margin-bottom: 5px;
}
p {
  color: var(--Purple_500);
}

.middle p {
  color: var(--Purple_500);
  font-size: 40px;
}
.ctually {
  font-family: var(--FuentePrincipal);
  width: 400px;
  border-radius: 5px;
  font-size: 19px;
  padding: 10px;
  color: rgb(0, 0, 0);
  text-shadow: 0px 0px 2px rgb(255, 255, 255);
}
.output_user p {
  font-size: 60px;
  text-indent: 2rem;
  line-height: 1rem;
  margin-left: -70px;
  margin-bottom: 4rem;
}
.output_user {
  width: 35rem;
  padding: 1rem;
  border-radius: 2rem;
  margin-left: 6rem;
  margin-top: -3rem;
}
h2 {
  text-indent: 2rem;
}
.atras {
  margin: 3rem auto;
border-radius: 15px;
  width: 40rem;
}
.main_head {
  font-size: 3rem;
  text-align: center;
  width: 35rem;
  padding: 1rem;
  margin: 3rem auto;
  background: linear-gradient(to right, #1af53f, #aa13e6); /* Degradado */
  -webkit-background-clip: text; /* Crucial para el efecto */
  color: transparent; /* Hacemos el color de texto transparente */
  background-clip:0 ;
}
h1 {
  text-shadow:  10px 101px 110px rgb(0, 0, 0);
}
span {
  color: rgb(0, 0, 0);
  letter-spacing: 5px;
}
.gratefoul {
  text-align: center;
  font-size: 15px;
}
.middle {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 50px;
  gap: 5px;
  text-align: center;
  margin-left: 1rem;
}
.middle img {
  width: 100%;
  height: 50px;
  background-color: var(--Purple_500);
  border-radius: 50%;
}
button {
  width: 60px;
  height: 60px;
  border: none;
background-color: transparent;
}
img:hoover {
  border-color: red
}
img:active {
  box-shadow: 0px 0px 3px 3px rgb(224, 10, 189);
  margin-top: 2px;
}