:root {
  /* Primary */

  --Purple_500: hsl(259, 100%, 65%);
  --Red_400: hsl(0, 100%, 67%);

  /*Colores Neutrales*/

  --White: hsl(0, 100%, 100%);
  --Grey_100: hsl(0, 0%, 94%);
  --Grey_200: hsl(0, 0%, 86%);
  --Grey_500: hsl(0, 1%, 44%);
  --lack: hsl(0, 0%, 0%);

  /* FUentes */

  --FuentePrincipal: "Poppins", sans-serif;
}
html {
  box-sizing: border-box;
  font-size: 62.5%;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
Body {
  background-color: rgb(219, 225, 230);
  font-family: var(--FuentePrincipal);
}
.contenedor {
  background-color: var(--White);
  margin: 7rem auto;
  width: 50rem;
  height: 43rem;
  border-radius: 20px;
  border-bottom-right-radius: 15rem;
  box-shadow: 0px 0px 3px 4px black;
}
.nacimiento{
letter-spacing: 5px;
  text-align: center;
  padding: .5rem;
  background-color: var(--Purple_500);
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  text-shadow: 0px 0px 1px rgb(137, 21, 172);

}
.input_user {
  margin-top: -2rem;
  display: flex;
  padding: 1rem;
  width: 80%;
  gap: 20px;
}
.campo label {
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 11px;
  color: var(--Grey_500);
}
.campo input {
  width: 14rem;
  height: 4rem;
  font-weight: bold;
  border-radius: 10px;
  border-color: var(--Purple_500);
  margin-bottom: 5px;
}
input:hover {
  border-color: rgb(0, 0, 0);
}
input:focus {
  border-top-left-radius: 10px;
  border-bottom-right-radius:  10px;
  border-top-right-radius:  10px;
}

br {
  margin-bottom: 5px;
}
p {
  color: var(--Purple_500);
  font-size: 40px;
}
.ctually {
  background-color: rgb(180, 166, 241);
  width: 200px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  height: 25px;
}
.output_user p {
  font-size: 60px;
  text-indent: 2rem;
  line-height: 1rem;
  margin-top: 1.5rem;
}
.output_user {
  margin-top: 3rem;
}
h2 {
  text-indent: 2rem;
}
.main_head {
  text-align: center;
  background-color: rgb(59, 235, 49);
  width: 40rem;
  padding: 1rem;
  margin: 8rem auto;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 52px;
  box-shadow: 0px 0px 1px 3px black;
}
h1 {
  text-shadow:  10px 101px 110px rgb(228, 219, 203);
}
span {
  color: black;
}
.gratefoul {
  text-align: center;
  font-size: 15px;
}
.middle {
  display: flex;
  width: auto;
  height: 50px;
  gap: 5px;
 text-align: center;
 margin-top: -47px;
 margin-bottom: 6rem;
 margin-left: 1rem;

}
.middle img {
  width: 100%;
  height: 50px;
  background-color: var(--Purple_500);
  border-radius: 50%;
}
button{
  width: auto;
  height: 50px;
  border: none;
margin: 4rem 10px; 
background-color: white;
}
img:active {
  box-shadow: 0px 0px 3px 3px rgb(8, 201, 50);
  margin-top: 2px;
}
